.App {
  display: flex;
  flex-flow: row;
  width: 100vw;
  height: 100vh;
}

.button-session {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.data-display {
  display: flex;
  flex-flow: column;
  flex: 3;
  min-height: 100vh;
}

.data-detail {
  display: flex;
  flex-flow: column;
  flex: 1;
}